<?xml version="1.0"?>

<!-- Config file -->

<config>
    <modules>
        <Thylak_Magesugar>
            <version>0.1.0</version>
        </Thylak_Magesugar>
    </modules>
    <admin>
        <routers>
			<magesugar>
				<use>admin</use>
				<args>
					<module>Thylak_Magesugar</module>
					<frontName>magesugar</frontName>
				</args>
			</magesugar>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<magesugar module="magesugar">
				<title>Sugar CRM Connection</title>
				<sort_order>71</sort_order>               
				<children>
                    <items2 module="magesugar">
                        <title>Manage account</title>
                        <action>magesugar/adminhtml_magesugar/myAccount</action>
                        <sort_order>10</sort_order>
                    </items2>                    
				</children>
                <children>
                    <items module="magesugar">
                        <title>Verify sugar crm connection</title>
                        <action>magesugar/adminhtml_magesugar/verifyConnection</action>
                        <sort_order>20</sort_order>
                    </items>                    
                </children> 

                <children>
                    <items1 module="magesugar">
                        <title>Map sugar crm fields with Magento</title>
                        <action>magesugar/adminhtml_magesugar/editMap/id/1</action>
                        <sort_order>30</sort_order>
                    </items1>                    
                </children>
                <children>
                    <items3 module="magesugar">
                        <title>Run synchronization process</title>
                        <!--<action>magesugar/adminhtml_magesugar/run/id/1</action>-->
                        <action>magesugar/adminhtml_magesugar/editRun/id/1</action>
                        <sort_order>40</sort_order>
                    </items3>                    
                </children>
                <children>
                    <items4 module="magesugar">
                        <title>View sync results</title>
                        <action>magesugar/adminhtml_magesugar/index/id/1</action>
                        <sort_order>50</sort_order>
                    </items4>                    
                </children>
                <children>
                    <items5 module="magesugar">
                        <title>Version 1.2.9.2</title>
                         <sort_order>60</sort_order>
                    </items5>                    
                </children>                                                
                
               <!-- <children>
                    <items3 module="magesugar">
                        <title>Login to sugarcrm to view leads</title>
                        <action>magesugar/adminhtml_magesugar/sugarcrmLink</action>
                        <action>http://magento.thylaksoft.com/sugarcrm/</action>
                        <sort_order>40</sort_order>
                    </items3>                    
                </children>-->
                                
			</magesugar>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Thylak_Magesugar>
							<title>Magesugar Module</title>
							<sort_order>10</sort_order>
						</Thylak_Magesugar>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<magesugar>
					<file>magesugar.xml</file>
				</magesugar>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <resources>
            <magesugar_setup>
                <setup>
                    <module>Thylak_Magesugar</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </magesugar_setup>
            <magesugar_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </magesugar_write>
            <magesugar_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </magesugar_read>
        </resources>
        <models>
            <magesugar>
                <class>Thylak_Magesugar_Model</class>
                <resourceModel>magesugar_mysql4</resourceModel>
            </magesugar>
            <magesugar_mysql4>
                <class>Thylak_Magesugar_Model_Mysql4</class>
                <entities>
                    <sugarcrmattribute>
                        <table>sugarcrmattribute</table>
                    </sugarcrmattribute>
                    <sugardataflowprofile>
                        <table>sugardataflowprofile</table>
                    </sugardataflowprofile>
                    <sugarprofilemap>
                        <table>sugarprofilemap</table>
                    </sugarprofilemap>                    
                    <sugarprofilehistory>
                        <table>sugarprofilehistory</table>
                    </sugarprofilehistory>                    
                    <sugarprofiletransaction>
                        <table>sugarprofiletransaction</table>
                    </sugarprofiletransaction>      
                    <sugarwebservicedetails>
                        <table>sugarwebservicedetails</table>
                    </sugarwebservicedetails>        
                    <apidetails>
                        <table>apidetails</table>
                    </apidetails>
                    <accountdetails>
                        <table>accountdetails</table>
                    </accountdetails>                    
                </entities>
            </magesugar_mysql4>
        </models>        
        <blocks>
            <magesugar>
                <class>Thylak_Magesugar_Block</class>
            </magesugar>
        </blocks>
        <helpers>
            <magesugar>
                <class>Thylak_Magesugar_Helper</class>
            </magesugar>
        </helpers>
    </global>
        <crontab>
        <jobs>
            <magesugar_cronauto_leadmap>
                <schedule><cron_expr>* * * * *</cron_expr></schedule>
                <run><model>magesugar/Cronauto::Leadmap</model></run>
            </magesugar_cronauto_leadmap>
        </jobs>
    </crontab>
</config>

