<?xml version="1.0" encoding="utf-8" ?>
<config>
    <tabs>
        <livechat translate="label" module="livechat">
            <label>LiveChat</label>
            <sort_order>999</sort_order>
        </livechat>
    </tabs>
    <sections>
        <livechatconfiguration translate="label" module="livechat">
            <label>Configuration</label>
            <tab>livechat</tab>
            <frontend_type>text</frontend_type>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label" module="livechat">
                    <label>General options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label comment" module="livechat">
                            <label>Is enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
							<comment>Display LiveChat box in front office.</comment>
                        </active>
                        <refreshfrequency translate="label comment" module="livechat">
                            <label>Chat refresh frequency</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
							<comment>Message refresh interval for customer (in seconds).</comment>
                        </refreshfrequency>
                        <refreshdecay translate="label" module="livechat">
                            <label>Chat refresh decay</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </refreshdecay>
						<adminrefreshrate translate="label comment" module="livechat">
                            <label>Admin refresh rate</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
							<comment>Admin operator page refresh rate (in seconds).</comment>
                        </adminrefreshrate>
						<sessioncreation translate="label" module="livechat">
							<label>Chat session creation</label>
                            <frontend_type>select</frontend_type>
							<source_model>livechat/source_sessionCreation</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
						</sessioncreation>
						<nbmaxlines translate="label comment" module="livechat">
							<label>Maximum number of lines displayed</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
							<comment>Set 0 to display all lines</comment>
						</nbmaxlines>
						<displayadmintab translate="label" module="livechat">
							<label>Display admin tab</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
						</displayadmintab>
                    </fields>
                </general>
                <display translate="label" module="livechat">
                    <label>Display options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                    	<titlelabel translate="label" module="livechat">
                            <label>Title label</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </titlelabel>
                        <chatlabel translate="label" module="livechat">
                            <label>Chat label</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </chatlabel>
                        <imagestyle translate="label" module="livechat">
                            <label>Image style</label>
                            <frontend_type>select</frontend_type>
                            <source_model>livechat/source_images</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </imagestyle>
                        <unavailablelabel translate="label comment" module="livechat">
                            <label>Unavailable message</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>Message which is displaying when no operator are online.</comment>
                        </unavailablelabel>
                        <defaultcustomername translate="label comment" module="livechat">
                            <label>Default customer name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>Name of the customer when not logged in.</comment>
                        </defaultcustomername>
                        <systemname translate="label comment" module="livechat">
                            <label>System name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>Sender name of the automatic messages.</comment>
                        </systemname>
                        <systemwaitmessage translate="label comment" module="livechat">
                            <label>System wait message</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>Message sent when a customer has just started a chat session.</comment>
                        </systemwaitmessage>
						<systemautosessionmessage translate="label comment" module="livechat">
							<label>System message when session is automatically created</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>Message sent when a chat has been automatically created.</comment>
						</systemautosessionmessage>
						<limitregisteredusers translate="label comment" module="livechat">
							<label>Display only for registered user</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>If yes, only connected customer can see the chatbox.</comment>
						</limitregisteredusers>
						<hidewhennooperatoronline translate="label comment" module="livechat">
							<label>Hide LiveChat box when no operator are presents</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>If yes, the chatbox will disapear when no operator are present.</comment>
						</hidewhennooperatoronline>
                    </fields>
                </display>
            </groups>
        </livechatconfiguration>
        <livechatevents translate="label" module="livechat">
			<label>Behaviour</label>
            <tab>livechat</tab>
            <frontend_type>text</frontend_type>
            <sort_order>20</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>0</show_in_store>
			<groups>
				<onoperatordisconnect translate="label" module="livechat">
					<label>On Operator disconnect</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
					<fields>
						<closesession translate="label comment" module="livechat">
                            <label>Close dispatched chat session</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
							<comment>The chat session is closed, so no operator can get it.</comment>
                        </closesession>
						<undispatchsession translate="label comment" module="livechat">
                            <label>Undispatch non-closed chat session</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
							<comment>The chat session is released, so another operator can get it.</comment>
                        </undispatchsession>
					</fields>
				</onoperatordisconnect>
				<onsessionclose translate="label" module="livechat">
					<label>On chat session close</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
					<fields>
						<sendclosemessage translate="label" module="livechat">
                            <label>Send a close message</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </sendclosemessage>
						
					</fields>
				</onsessionclose>
				<oncustomerconnexion translate="label" module="livechat">
					<label>On customer connexion</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
					<fields>
						<changechatcreatorname translate="label" module="livechat">
                            <label>Replace the chat session creator name</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </changechatcreatorname>
						<changeallcustomermessageautor translate="label" module="livechat">
                            <label>Replace all customer's messages autor name</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </changeallcustomermessageautor>
					</fields>
				</oncustomerconnexion>
				<oncustomersendmessage translate="label" module="livechat">
					<label>When the customer sends a message</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
					<fields>
						<allowcustomerreopen translate="label comment" module="livechat">
                            <label>Allow to reopen a closed chat session</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
							<comment>If the chat session is not archived the customer can reactivate it by sending a new message.</comment>
                        </allowcustomerreopen>
					</fields>
				</oncustomersendmessage>
				<onsessionexpire translate="label comment" module="livechat">
					<label>When the session expire</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>40</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
					<fields>
						<archive translate="label comment" module="livechat">
                            <label>Archivate the session</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
							<comment>Archived session are definitevely closed. If not chat sessions are only closed.</comment>
                        </archive>
					</fields>
				</onsessionexpire>
			</groups>
		</livechatevents>
    </sections>
</config>