.block-magentweet .block-title strong{background:url(../images/magentweet/bird.gif) no-repeat;padding-left:20px;}
.block-magentweet .block-content .info{padding:6px 0 0;}
.block-magentweet .block-content li{font-size:0.9em;padding:3px 9px;}
.block-magentweet .block-content img{float:left;margin:10px 5px 10px 10px;}
.block-magentweet .block-content ul li div{float:left;width:120px;}
.block-magentweet .clearer{clear:both;}